name: Test
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 16
    - uses: bahmutov/npm-install@v1
    - run: npm run lint
    - run: npm test
      env:
        INPUT_WEB3_TOKEN: ${{ secrets.WEB3_STORAGE_TOKEN }}

  run-action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ./
      with:
        web3_api: 'https://api-staging.web3.storage'
        web3_token: ${{ secrets.WEB3_STORAGE_TOKEN }}
        path_to_add: 'test/fixtures'
        # test non default option
        include_hidden: true
